{% extends 'base.html.twig' %}

{% block title %}
    Edit Devis
{% endblock %}

{% block body %}

    
    <style>

    @font-face {
    font-family: 'PoliceTitre';
    src: url(/back_office/src/Css/Montserrat-VariableFont_wght.ttf);
    }

    @font-face {
    font-family: 'PoliceContenu';
    src: url(/back_office/src/Css/Akkurat.ttf);
    }

        * {
            margin: 0;
            background-color: var(--second-color);
            color: var(--main-color);
            font-family: 'PoliceContenu';
        }

        :root {
            --main-color: black;
            --second-color: white;
            --background: #eedccf;
            --link-color: #8a7667;
            --third-color: #fff7b6;
        }

        h1 {
            font-family: 'PoliceTitre';
            color: var(--main-color);
            font-size: 50px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: var(--link-color);
            font-family: 'PoliceContenu';
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container">
        <h1 class="mt-5">Modifier Devis</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                {{ include('devis/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <a href="{{ path('app_devis_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                {{ include('devis/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
